/* Setup to 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6fafb;
  color: #3b3031;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 25px;
  max-width: 800px;
  margin: auto;
}

header {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 60px;
  border-radius: 30px;
}

header h4 {
  font-size: 27px;
  font-weight: 600;
}
header h1 {
  font-size: 15px;
  font-weight: 400;
  color: #ff7561;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

form input {
  padding: 17px;
  border: none;
  border-radius: 40px;
  font-size: 15px;
  color: grey;
  font-family: "Poppins";
  flex: 1;
}

.todo-button {
  transition: all 0.5s ease;
  background-color: #ff7561;
  color: white;
  box-shadow: 3px 5px 8px rgb(207, 207, 207);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: none;
  border-radius: 40px;
  font-size: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.todo-button:hover {
  background-color: #f7492e;
}
.todo_title h1 {
  padding: 15px 0px;
  font-size: 24px;
  font-weight: 600;
  color: #3b3031;
}
.todo-container {
  display: flex;
  align-items: center;
}

.todo-list {
  list-style: none;
  width: 100%;
}
.todo {
  margin: 15px 0px;
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  color: #3b3031;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
  color: #3b3031;
  font-size: 17px;
  font-weight: 500;
}

.complete-btn {
  transition: all 0.5s ease;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #b1d199;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}
.complete-btn:hover {
  background-color: #66b629;
}

.trash-btn {
  transition: all 0.5s ease;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #faaaa3;
  color: white;
  cursor: pointer;
}
.trash-btn:hover {
  background-color: #ff230f;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.drop {
  transform: translateY(15px) translateX(35px);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

select {
  color: #3b3031;
  font-weight: 600;
  font-family: "Poppins";
  width: 150px;
  cursor: pointer;
  padding: 17px;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background-color: #afd4fe;
  color: white;
  top: 0;
  right: 0;
  width: 30px;
  line-height: 50px;
  pointer-events: none;
}
