/* Setup to 0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #3b3031;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 25px;
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  font-size: 28px;
}

.logo i {
  font-size: 15px;
  background-color: aquamarine;
  border-radius: 25px;
  padding: 8px;
  color: white;
}

.menu a {
  text-decoration: none;
}
